h1{
    color: cornflowerblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}